<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-current.dtd">
<suite name="UserAPI Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="api.listeners.AllureEnvironmentListener"/>
    </listeners>
    <test name="User API Tests">
        <classes>
            <class name="api.tests.CreateUserTest"/>
            <class name="api.tests.UpdateUserTest"/>
            <class name="api.tests.GetUserTest"/>
            <class name="api.tests.DeleteUserTest"/>
        </classes>
    </test>
</suite>

